<launch>

  <!-- Create new world -->
  <include file="$(find uuv_gazebo_worlds)/launch/auv_underwater_world.launch">
  </include>

  <!-- Load rexrov robot -->
  <include file="$(find uuv_descriptions)/launch/upload_rexrov.launch">
    <arg name="mode" value="default"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="-20"/>
    <arg name="namespace" value="rexrov2"/>
  </include>

  <!-- Load plume simulator -->
  <include file="$(find uuv_plume_simulator)/launch/start_plume_example.launch">
  </include>

  <!-- Load turbulent plume -->
  <!--node name="turbplume" pkg="uuv_plume_simulator" type="set_demo_turbulent_plume" output="screen"/-->

  <!-- Set current velocity -->
  <!--node name="currvel" pkg="uuv_plume_simulator" type="set_demo_current_vel" output="screen"/-->

  
</launch>
