<!-- Parts copied from start_demo_turbulent_plume.launch
	 in package: uuv_plume_simulator. Full filepath below:
	 catkin_ws/src/uuv_plume_simulator/uuv_plume_simulator/launch/start_demo_turbulent_plume.launch
-->

<launch>

  <!-- Load turbulent plume -->
  <node name="turbplume" pkg="pt_uuvsim" type="turbulent_plume" output="screen"/>

  <!-- Set current velocity -->
  <node name="currvel" pkg="pt_uuvsim" type="set_currvel" output="screen"/>

  <!-- Start plume tracing code -->
  <node name="cptbbp" pkg="pt_uuvsim" type="cptbbp.py" output="screen"/>

</launch>