<launch>
  <arg name="use_gazebo" default="false"/>

  <include file="$(find uuv_gazebo_worlds)/launch/ocean_waves.launch">
      <arg name="gui" value="false"/>
  </include>

  <include file="$(find eca_a9_description)/launch/upload_eca_a9.launch">
    <arg name="mode" value="default"/>
    <arg name="x" value="30"/>
    <arg name="y" value="20"/>
    <arg name="z" value="-21"/>
    <arg name="namespace" value="rov1"/>
    <arg name="use_ned_frame" value="false"/>
  </include>

  <include file="$(find pt_uuvsim)/launch/eca_a9_geometric_traj_control.launch">
    <arg name="uuv_name" value="rov1"/>
    <arg name="idle_radius" value="1"/>
  </include>

  <node name="rviz_ptuuvsim" pkg="rviz" type="rviz" output="screen" args="-d $(find pt_uuvsim)/rviz/test.rviz"/>

</launch>